<div data-quill="toolbar" data-id="{{ id }}" class="toolbar">
	<span class="ql-formats">
		<select class="ql-header" select2-ignore>
			<option value="1">Heading</option>
			<option value="2">Subheading</option>
			<option selected>Normal</option>
		</select>
		<select class="ql-font" select2-ignore>
			<option selected>Sailec Light</option>
			<option value="sofia">Sofia Pro</option>
			<option value="slabo">Slabo 27px</option>
			<option value="roboto">Roboto Slab</option>
			<option value="inconsolata">Inconsolata</option>
			<option value="ubuntu">Ubuntu Mono</option>
		</select>
	</span>
	<span class="ql-formats">
		<button class="ql-bold"></button>
		<button class="ql-italic"></button>
		<button class="ql-underline"></button>
	</span>
	<span class="ql-formats">
		<button class="ql-list" value="ordered"></button>
		<button class="ql-list" value="bullet"></button>
		<select class="ql-align" select2-ignore>
			<option selected></option>
			<option value="center"></option>
			<option value="right"></option>
			<option value="justify"></option>
		</select>
	</span>
	<span class="ql-formats">
		<button class="ql-link"></button>
		<button class="ql-image"></button>
		<button class="ql-video"></button>
	</span>
	<span class="ql-formats">
		<button class="ql-formula"></button>
		<button class="ql-code-block"></button>
	</span>
	<span class="ql-formats">
		<button class="ql-clean"></button>
	</span>
</div>
